---
- name: Master Playbook for RHEL Systems
  hosts: all
  gather_facts: true
  become: true

  tasks:
    - name: Run Preliminaries
      ansible.builtin.import_tasks: prelims/rhel-prelims.yml
      when: run_preliminaries

    - name: Include project roles
      block:
        - name: Install and Configure Samba
          ansible.builtin.import_role:
            name: samba
          when: samba_role
          tags: [samba]

        - name: Install and Configure HTTPD
          ansible.builtin.import_role:
            name: httpd
          when: httpd_role
          tags: [httpd]

        - name: Configure ClamAV
          ansible.builtin.import_role:
            name: clamav
          when: clamav_role
          tags: [clamav]

        - name: Install Keycloak
          ansible.builtin.import_role:
            name: keycloak
          when: keycloak_role
          tags: [keycloak]

        - name: Setup KVM Cockpit
          ansible.builtin.import_role:
            name: kvm
          when: kvm_role
          tags: [kvm]

        - name: Include PostgreSQL Role
          ansible.builtin.import_role:
            name: postgresql
          when: postgresql_role
          tags: [postgresql]

        - name: Apply RHEL 9 CIS Hardening
          ansible.builtin.import_role:
            name: RHEL9-CIS
          when: rhel9_cis_role
          tags:
            - cis_hardening
            - level1-workstation
            - level1-server
            - level2-workstation
            - level2-server

        - name: Apply RHEL 9 STIG Hardening
          ansible.builtin.include_role:
            name: RHEL9-STIG
          when: rhel9_stig_role
          tags:
            - stig_hardening

    - name: Deployment finished
      ansible.builtin.debug:
        msg: "Deployment completed successfully on {{ inventory_hostname }}"
