---
- name: Master Playbook for RHEL Systems
  hosts: all
  gather_facts: true
  become: true

  tasks:
    - name: Run Preliminaries
      ansible.builtin.import_tasks: prelims/rhel-prelims.yml
      when: run_preliminaries

    - name: Include project roles
      block:
        - name: Install and Configure Samba
          ansible.builtin.include_role:
            name: samba
          when: samba_role

        - name: Install and Configure HTTPD
          ansible.builtin.include_role:
            name: httpd
          when: httpd_role

        - name: Configure ClamAV
          ansible.builtin.include_role:
            name: clamav
          when: clamav_role

        - name: Configure Firewalld
          ansible.builtin.include_role:
            name: firewalld
          when: firewalld_role

        - name: Install Keycloak
          ansible.builtin.include_role:
            name: keycloak
          when: keycloak_role

        - name: Install Zabbix
          ansible.builtin.include_role:
            name: zabbix
          when: zabbix_role

        - name: Setup KVM Cockpit
          ansible.builtin.include_role:
            name: kvm
          when: kvm_role

        - name: Apply RHEL 9 CIS Hardening
          ansible.builtin.include_role:
            name: RHEL9-CIS
          when: rhel9_cis_role
          tags:
            - level1-workstation
            - level1-server
            - level2-workstation
            - level2-server
    
        - name: Apply RHEL 9 STIG Hardening
          ansible.builtin.include_role:
            name: RHEL9-STIG
          when: rhel9_stig_role

    - name: Deployment finished
      ansible.builtin.debug:
        msg: "Deployment completed successfully on {{ inventory_hostname }}"

